*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  font-family: 'Noto Sans';
  font-size: 16px;
}

:root {
  --neutral-900: hsl(227, 75%, 14%);
  --neutral-800: hsl(226, 25%, 17%);
  --neutral-700: hsl(225, 23%, 24%);
  --neutral-600: hsl(226, 11%, 37%);
  --neutral-300: hsl(0, 0%, 78%);
  --neutral-200: hsl(217, 61%, 90%);
  --neutral-100: hsl(0, 0%, 93%);
  --neutral-0: hsl(200, 60%, 99%);
  --red-400: hsl(3, 86%, 64%);
  --red-500: hsl(3, 71%, 56%);
  --red-700: hsl(3, 77%, 44%);
  --light-gradient: linear-gradient(180deg, #ebf2fc 0%, #eef8f9 100%);
  --dark-gradient: linear-gradient(180deg, #040918 0%, #091540 100%);
}

body {
  padding: 1.25rem 1rem 4rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: var(--light-gradient);
}
header {
  width: 100%;
}

.extension-header {
  width: 100%;
  height: 4.125rem;
  padding: 0.5rem 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--neutral-0);
  border-radius: 0.625rem;
  margin-bottom: 2.5rem;

  button {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 0.75rem;
    border: none;
    background-color: var(--neutral-100);
  }
}
.logo-icon {
  width: 11.18rem;
  height: 2.5rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    font-size: 2.125rem;
    font-weight: 800;
    color: var(--neutral-900);
    margin-bottom: 1.5rem;
  }
}

.filter-container {
  display: flex;
  width: 18.43rem;
  height: 2.875rem;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;

  button {
    font-size: 1.25rem;
    line-height: 140%;
    background-color: var(--neutral-0);
    width: 35%;
    height: 100%;
    border-radius: 62.4rem;
    border: none;
  }

  button:first-child {
    width: 20%;
    background-color: var(--red-700);
    color: var(--neutral-0);
  }
}

.card-container {
  width: 100%;
  max-height: 12.5rem;
  background-color: var(--neutral-0);
  padding: 1.25rem;
  border-radius: 1.25rem;
  box-shadow: 2px 5px 5px hsla(226, 11%, 37%, 0.15);
}
.info-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;

  img {
    width: 3.75rem;
    height: 3.75rem;
  }

  p:first-child {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 120%;
    color: var(--neutral-900);
  }
  p:last-child {
    font-size: 1rem;
    line-height: 140%;
    color: var(--neutral-600);
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button:first-child {
    width: 5.6rem;
    height: 2.375rem;
    font-family: inherit;
    font-size: 1rem;
    line-height: 140%;
    background-color: var(--neutral-0);
    border: 1px solid var(--neutral-300);
    border-radius: 62.4rem;
  }

  .active-inactive-container {
    .switch {
      position: relative;
      display: inline-block;
      width: 2.25rem;
      height: 1.25rem;
    }
    .switch input {
      opacity: 0;
      width: 0;
      height: 0;
    }

    .slider {
      position: absolute;
      inset: 0;
      background-color: var(--neutral-300);
      border-radius: 2.25rem; 
    }
    .slider::before {
      position: absolute;
      content: '';
      width: 1rem;
      height: 1rem;
      left: 0.125rem;
      bottom: 0.125rem;
      background-color: var(--neutral-0);
      transition: 0.4s;
      cursor: pointer;
      border-radius: 50%;
    }

    input:checked + .slider {
      background-color: var(--red-700);
    }
    input:checked + .slider::before {
      transform: translateX(1rem);
    }
  }
}

.hidden {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
